extends layout

block content
  h1 Chat Page


  script(src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js")
  script.
    var socket = io('http://localhost:3000');
    socket.on('hello', function (data) {
      console.log(data);
    });